# Model - prea mare pentru GitHub
model/

# Baza de date locala
dashboard/history.db
dashboard/__pycache__/
api/__pycache__/

# Python
*.pyc
__pycache__/
.env

# Jupyter
.ipynb_checkpoints/
notebooks/